DATABASE_URL=postgresql://habitflow_db_gfmv_user:4kzukuNyUSifrXNouIdX0joPVZpwLFjD@dpg-d6uraf15pdvs7388h9k0-a.oregon-postgres.render.com/habitflow_db_gfmv?ssl=true
JWT_SECRET=tu_secreto_jwt_aqui
PORT=5000